/* connect bootstrap styling*/
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

/* TODO Add site wide styles */
body{
    display: grid;
    min-height: 100vh;
}

ion-icon{
    font-size: 24px;
}

#homepage-container{
    /* bootstrap is already setting login container to grid, this controls child positioning */
    place-items: start center;
}
